mat-card-header {
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 30px;
    font-family:'Times New Roman', Times, serif;
}
mat-table {
  width: 95%;
  margin: 35px;

}
button {
    display: flex;
    left: 90%;
}
